<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Run (32x32)_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (32x32)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{26,0},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (32x32)_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{268,0},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (32x32)_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{296,0},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (32x32)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{52,0},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (32x32)_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{78,0},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (32x32)_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{104,0},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (32x32)_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{132,0},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (32x32)_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{160,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (32x32)_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{187,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (32x32)_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{214,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (32x32)_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{241,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Run.png</string>
            <key>size</key>
            <string>{324,27}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50b6822536104dc4bd77aac20cacb10f:4f27f0e1f0daf4fd56f651fa06d09c50:c91fb64b0e016839a70bb33cc903714a$</string>
            <key>textureFileName</key>
            <string>Run.png</string>
        </dict>
    </dict>
</plist>
